{% extends "base.html" %}

{% block title %}{{ problem[0] }} - SkillSolver{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ problem[0] }}</h3>
    <p class="card-text">{{ problem[1] }}</p>
    <a href="{{ url_for('problems') }}" class="btn btn-secondary">Back to Problems</a>
  </div>
</div>
{% endblock %}


<!--  
<!DOCTYPE html>
<html>
<head>
    <title>{{ problem[0] }}</title>
</head>
<body>
    <h2>{{ problem[0] }}</h2>
    <p>{{ problem[1] }}</p>
</body>
</html>
-->
